/* Box Model Hack */
* {
     box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     height: 0;

     display: block;

     line-height: 0;

     clear: both;
     visibility: hidden;
     content: ".";
}
.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}
body {
     height: 100vh;
     
     font-family: 'Raleway', sans-serif;
     font-weight: 600;
     color: #FFFFFF;

     background-color: #030303;
}
.title {
     margin: .5rem 0;

     font-family: 'Monoton', sans-serif;
     font-weight: 400;
     font-size: 10rem;
}
.title-prefix {
     font-size: 4rem;
}
/******************************************
/* LAYOUT
/*******************************************/
.nav {
     height: 120px;
     padding: 20px;

     display: flex;
}
.logo {
     height: 100%;
}
.landing {
     margin-top: 100px;

     display: flex;
     flex-direction: column;
     align-items: center;

}
/* NOTE: Set width accoriding to font size */
.input, .title, .title-prefix {
     width: 59rem;
}
footer {
     width: 100%;

     position: absolute;
     bottom: 0;

     text-align: center;   
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 650px) {
     /* NOTE: Set width accoriding to font size */
     .title {
          font-size: 5rem;
     }
     .title-prefix {
          font-size: 2rem;
     }
     .input, .title, .title-prefix {
          width: 29.5rem;
     }
     .logo {
          height: 90%;
     }
}
@media screen and (max-width: 350px) {
     .nav {
          padding: 20px 15px;
     }
     
     
}