/* Box Model Hack */
* {
     box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     height: 0;

     display: block;

     line-height: 0;

     clear: both;
     visibility: hidden;
     content: ".";
}
.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}
body {
     height: 100vh;
     
     font-family: 'Raleway', sans-serif;
     color: #FFFFFF;

     background-color: #030303;
}
.title {
     
}
/******************************************
/* LAYOUT
/*******************************************/
.nav {
     height: 100px;
     padding: 20px;

     display: flex;
}
.logo {
     height: 100%;
}
.landing {
     margin-top: 100px;

     display: flex;
     flex-direction: column;
     align-items: center;
}
.input, .title, .title-prefix {
     width: 50%;
}
footer {
     width: 100%;

     position: absolute;
     bottom: 0;

     text-align: center;   
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 800px) {
     .input, .title, .title-prefix {
          width: 75%;
     }
     
}