/* Box Model Hack */
* {
     box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     height: 0;

     display: block;

     line-height: 0;

     clear: both;
     visibility: hidden;
     content: ".";
}
.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}
body {
     font-family: 'Raleway', sans-serif;
     font-weight: 600;
     font-size: 1.5rem;
     color: #FFFFFF;

     background-color: #030303;
     scrollbar-width: 0;
}
.title {
     margin: 1rem 0;

     font-family: 'Monoton', sans-serif;
     font-weight: 400;
     font-size: 10rem;
}
.title.small {
     font-size: 30px;
     width:fit-content;
}
.title-prefix {
     font-size: 4rem;
}
.medium-size {
     font-size: 4rem;
}
/******************************************
/* LAYOUT
/*******************************************/

/* ----------HOME PAGE STYLES---------- */

.nav {
     height: 120px;
     padding: 20px;

     display: flex;
}
.logo {
     height: 100%;
}
.landing {
     margin-top: 100px;

     display: flex;
     flex-direction: column;
     align-items: center;

}
/* NOTE: Set width accoriding to font size */
.search, .title, .title-prefix {
     width: 59rem;
}
.search {
     height: 4rem;
     padding: 0 20px;
     
     border: 2px solid #FFFFFF;
     border-radius: 20px;

     display: flex;
     align-items: center;
}
.search_icon {
     height: 2rem;
     width: auto;
}
.search_input {
     height: 100%;
     width: 50rem;
     padding: 0;
     margin-left: .5rem;

     color: rgba(255, 255, 255, 0.5) ;

     border: none;
     outline: none;
     background-color: rgba(0, 0, 0, 0);  
}
.catalog .search_dropdown {
     height: fit-content;
     width: 365px;

     position: absolute;
     right: 50px;
     top: 70px;

     background-color: #111111;
     overflow: auto; 
     box-shadow: 0 0 9px 0.5px rgb(0 0 0 / 50%);
     border-radius: 5px;   
}
.home .search_dropdown {
     height: fit-content;
     width: 56rem;
     
     right: 50px;
     top: 70px;

     background-color: #111111;
     overflow: auto;    
}
.search_dropdown.open {
     animation: dropdown .2s forwards;
}
@keyframes dropdown { 
     0% {
          height: 0px;
     }
     100% {
          height: 200px;
     }
     
}
.search_dropdown_entry {
     height: 4rem;
     width: 100%;
     margin: 0;
     padding: 1rem 2rem;
     display: block;

     background-color: transparent;
     border: none;
     font: inherit;
     color: #FFFFFF;
     text-align: left;
}
.search_dropdown_entry:hover {
     color: #33AA29;
}
.search_dropdown_message {
     height: 6rem;
     padding: 1rem 2rem;
     text-align: center;

}
/* input[type="search"]::-webkit-search-cancel-button {
     -webkit-appearance: none;
     cursor: pointer;
 
     height: 20px;
     width: 20px;
     background-image: url("https://img.icons8.com/sf-regular-filled/48/FFFFFF/x.png");
     background-size: contain;
 } */
.footer-text {
     width: 100%;
     height: 3rem;

     font-weight: 200;
     color: rgba(255, 255, 255, 0.2);
     
     display: flex;
     align-items: center;
     justify-content: center;
     gap: .5rem;
     position: fixed;
     bottom: 0;

     text-align: center;   
}
.footer-text p {
     margin: 0;
}
.footer-text img {
     height: 2rem;
}
.footer-text a {
     color: rgba(255, 255, 255, 0.2);
}
.footer-text a:hover {
     color: rgba(255, 255, 255, 1);
}

/* ----------CATALOG PAGE STYLES---------- */

.nav.catalog {
     height: 100px;
     margin: 0 15px;

     justify-content: start;
     /* gap: 10px; */
}
.nav.catalog .logo {
     margin-right: 10px;
}
.nav.catalog span, .nav.catalog .search {
     align-self: center;
}
.nav.catalog .search {
     width: 400px;
     margin-left: auto;
}
.artist-info-block {
     padding: 0 25px;
     margin: 20px 0;

     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
.artist-info-block .timeline-btn {
     padding: .5rem 2rem;
     margin-left: auto;

     font-size: 2.5rem;
     font-weight: 600;

     color: #FFFFFF;
     background-color: #33AA29;
     border: none;
     border-radius: 2rem;
}
.artist-info-block h1 {
     font-size: 7rem;
     margin: 0;
}
.artist-info-image {
     width: 100px;
     height: auto;
     margin-right: 20px;
     border-radius: 10px;
}
.genres {
     margin-top: 3px;
     margin-bottom: 0;
     font-size: 2rem;
     font-weight: 300;
}
.genres span {
     font-weight: 600;
}
.catalog-block {
     height: 600px;
     padding: 3rem 2.5rem;

     display: flex;
     flex-direction: column;

     overflow: auto;
     background: rgba(17,17,17,1); 
     scrollbar-color: darkgrey;
     scrollbar-width: 1rem;
}
.catalog-block h2 {
     margin: 0;
     text-align: center;   
}
.project-group {
     margin-bottom: 7rem;

}
.project-group h3 {
     margin-bottom: 1rem;

     font-size: 2.5rem;
     font-weight: 500;
}
.project-cards {
     display: flex;
     flex-wrap: wrap;
     /* gap: 30px; */
     height: fit-content;
}
.card {
     height: 29rem;
     width: 21rem;
     padding: 2rem;
     margin: 15px;

     display: flex;
     flex-direction: column;
     /* gap: 1rem; */

     border-radius: 1rem;
     background: rgba(255, 255, 255, 0.05);
}
.card_image {
     margin-bottom: 15px;
     height: 18rem;
     border-radius: 1rem;
     box-shadow: 0px 2px 14px 5px rgba(0, 0, 0, 0.42);
     
}
.card_title {
     margin:0;
     margin-bottom: 5px;
}
.card_type {
     font-weight: 400;
}

/* ----------TIMELINE PAGE STYLES---------- */
.catalog-btn {
     width: 20rem;
     padding-left: 30px;
     margin-left: auto;

     color: #FFFFFF;
     font-size: 2rem;

     border: none;
     background: transparent url(https://img.icons8.com/ios/25/FFFFFF/long-arrow-left.png) no-repeat left;
     
}
.catalog-btn:hover {
     color: #33AA29;

     background: transparent url(https://img.icons8.com/ios/25/33AA29/long-arrow-left.png) no-repeat left;
     
}
.timeline {
     display: flex;
     
     flex-wrap: wrap;
     height: inherit;
     overflow: auto;
     scrollbar-color: darkgrey;
     scrollbar-width: 1rem;
    
}
.timeline h2 {
     text-align: center;
     margin-bottom: 2rem;
     width: 100%;
}
.year-group {
     width: 75%;
     display: flex;
     padding-top: 20px;
     gap: 30px;
     margin-bottom: 3rem;
     height: fit-content;

     background: rgba(17,17,17,1);
}
.year-marker {   
     width: 25%;
     /* Pushes year label down a little to stay hidden */
     padding: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: sticky;
     top: 0px;

     
     background: rgba(17,17,17,1);

}
.year-marker h3, .line {
     width: fit-content;
     margin-top: 0;
}
.year-marker h3 {
     font-size: 3rem;
}
.line {
     height: 50px;
     border-left: solid 1px #FFFFFF;
}

/* ----------MODAL SCREEN STYLES---------- */
#modal-screen {
     height: 100%;
     width: 100%;
     position: fixed;
     top: 0;

     background-color: rgba(62, 62, 62, 0.9);
}
.popup {
     width: 40%;
     
     height: 600px;

     position: fixed;
     top: 10%;
     left: 30%;
}
.project-info {
     height: 25%;
     padding: 10px 15px;
     display: flex;
     align-items: center;
     /* gap: 15px; */

     background: linear-gradient(rgba(255,255, 255, .1), rgba(255,255, 255, .025)),
                 linear-gradient(rgba(17,17,17,1), rgba(17,17,17,1));
}
.project-image {
     width: 20%;
     height: auto;
     margin-right: 15px;
     border: black solid 1px;
     border-radius: 1rem;
     box-shadow: 0px 2px 14px 5px rgba(0, 0, 0, 0.42);

}
.details_title {
     margin: 8px 0;

     font-size: 3rem;
}
.x-button {
     height: 25px;
     width: auto;


     position: absolute;
     top: 10px;
     right: 10px;

}
.tracklist {
     height: 75%;
     overflow: auto;
     scrollbar-width: 1rem;

     background-color: #121212;
}
.tracklist a:link, .tracklist a:visited, .details_title a:link, .details_title a:visited {
    text-decoration: none;
    color: inherit;
}
.details_title a:hover {
     text-decoration: solid underline 1px #FFFFFF;
}
.tracklist a:hover {
     color: #33AA29;
}
.track {
     padding: 15px 25px;
     display: flex;
     align-items: center;
     /* gap: 7%; */
}
.track-name {
     margin: .5rem 0;
     font-size: 1.5rem;
}
.track_details {
     margin-left: 7%;
}
.track-name a:hover {
     color: #33AA29;
}
.track-time {
     margin-left: auto;
}
.track-artist {
     font-weight: 300;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Sroll bars */
body::-webkit-scrollbar {
     display: none;
}
.catalog-block::-webkit-scrollbar, .timeline::-webkit-scrollbar, .tracklist::-webkit-scrollbar {
     width: 1rem;
     
   }
    
.catalog-block::-webkit-scrollbar-track, .timeline::-webkit-scrollbar-track, .tracklist::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
    
.catalog-block::-webkit-scrollbar-thumb, .timeline::-webkit-scrollbar-thumb, .tracklist::-webkit-scrollbar-thumb {
     background-color: rgb(90, 89, 89);
     border-radius: 5px;
}



/* close window animation */
.close {
     animation: close .5s forwards;
}
@keyframes close {
     100% {
          height: 100vh;
     }
     
}
.widen {
     animation: widen 1s backwards;
}
@keyframes widen {
     0% {
          height: 100vh;
     }
     100% {
          height: 0;
     }   
}
.window_cover {
     background-color: #030303;
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 0;
}

/* HOME PAGE STYLES */
@media screen and (max-width: 650px) {
     /* NOTE: Set width accoriding to font size */
     .title {
          font-size: 5rem;
     }
     .title-prefix {
          font-size: 2rem;
     }
     .search, .title, .title-prefix {
          width: 29.5rem;
     }
     .logo {
          height: 90%;
     }
     .search {
          height: 3.5rem;
     }
     body {
          font-size: 1.3rem;
     }
     /* Dropdown styles on home */
     .home .search_dropdown {
          width: 27rem; 
     }
}

/* CATALOG PAGE STYLES */
@media screen and (min-width: 730px) {
     .artist-info-block div {
          width: 60%;
     }
     
}
@media screen and (max-width: 830px) {
     /* Decreases artist info name and button size for mobile*/
     .artist-info-block h1 {
          font-size: 5rem;
     }
}
@media screen and (max-width: 730px) {
     .catalog-block {
          padding: 3rem 1rem;
     }
     /* Converts searchbox to single icon for mobile */
     .nav.catalog .search{
          width: fit-content;
          height: 4rem;

          border: none;
     }
     .nav.catalog .search_input{
          width: 0;
     }
     /* dropdown box resized for mobile */
     .catalog .search_dropdown {
          width: 270px;
     }
     /* Searchbox opening animation for moble */
     .nav.catalog .search_open {
          border:#FFFFFF 1px solid;
          
          animation: open .2s forwards;
      }
      @keyframes open {
          0% {
               width: 10px;
          }
          100% {
               width: 300px;
          }
      }
     /* Reduces title size and icon for mobile */
     .nav.catalog .title { 
          font-size: 20px;

     }
     .nav.catalog .logo {
          height: 70%;
          align-self: center;
     }
     /* Decreases artist info name and button size for mobile*/
     .artist-info-block h1 {
          font-size: 4rem;
     }
     .artist-info-block div {
          width: 75%;
     }
     .artist-info-block button {
          font-size: 2rem;
     }
     /* Reduces project card size and font sizes for mobile */
     .medium-size {
          font-size: 2.8rem;
     }
     .project-group h3, .year-marker h3 {
          font-size: 3rem;
          text-align: center;
     }
     .project-group .project-cards, .year-group .project-cards {
          margin: 15px;
          font-size: 1.2rem;
          justify-content: center;
     }
     .card {
          height: 18rem;
          width: 12rem;
          padding: 1.3rem;
     }
     .artist-info-block .catalog-btn {
          width: 15rem;
          font-size: 1.4rem;
          /* margin-left: 10px; */
     }
     .artist-info-block {
          margin-bottom: 20px;
     }
     .artist-info-image {
          width: 80px;
     }
     .genres {
          font-size: 1.5rem;
     }
}
@media screen and (max-width: 450px) {
     .year-group {
          flex-direction: column;
          margin: 10px;
     }
     .year-marker h3 {
          margin: 0;
     }
     .line {
          height: 0;
          border-left: none ;
     }
     .artist-info-block {
          margin: 10px 0;
          justify-content: center;
     }
     .nav.catalog {
          padding: 10px 15px;
          height: 75px;
     }
     .timeline {
          flex-direction: column;
          flex-wrap: nowrap;
     }
     .year-marker {
          width: 100%;
     }
     .year-group, .project-cards {
          width: 100%;
          /* fixes timeline view on safari mobile for v13 */
          min-height: fit-content;
     }
     .artist-info-block .timeline-btn {
          margin-top: 10px;
          font-size: 2rem;
          margin-left: 0;
     }
     .catalog .search_dropdown {
          top: 60px;
     }
     .artist-info-block div {
          width: 62%;
     }
     .card {
          margin: 5px;
     }
     .card_image {
          height: 10.5rem;
     }
     .project-group .project-cards, .year-group .project-cards {
          margin: 0;
      }
     /* .genres span {
          font-size: 1.3rem;
     } */
}
@media screen and (max-width: 400px) {
     /* dropdown box resized for mobile */
     .catalog .search_dropdown {
          width: 220px;
     } 
     .project-group .project-cards {
          margin: 0;
     }
     .artist-info-block .timeline-btn {
          font-size: 1.7rem;
     }
      
}
@media screen and (max-width: 350px) {
     .nav {
          padding: 20px 15px;
     }
     /* dropdown box resized for mobile */
     .catalog .search_dropdown {
          width: 180px;
          right: 44px;
     }    
}
/* MODAL SCREEN STYLES */
@media screen AND (max-width: 1000px) {
     .popup {
          width: 70%;
          left: 15%;
     } 
}
@media screen AND (max-width: 430px) {
     .popup {
          width: 90%;
          height: 90%;
          left: 5%;
          top: 5%;
     } 
     .artist-info-block .catalog-btn {
          margin-top: 15px;
      }
      .details_title {
          font-size: 2rem;
      }
      .track-name {
          font-size: 1.5rem;
      }
      .track-artist {
          font-size: 1.3rem;
      }

}
.hidden {
     display: none;
}